@charset "UTF-8";
/* -------PATTISJOKKI RIPAN.SE---------- */
/* Fetching custom fonts */
@font-face {
  font-family: "AmericanTypewriter";
  src: url("./fonts/AmericanTypewriter.ttf") format("truetype");
}

@font-face {
  font-family: "BebasNeue";
  src: url("./fonts/BebasNeue-Regular.ttf") format("truetype");
}

/* VARIABLES */
/* All MenuPage content */
/* line 18, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576,
.page-id-5908 {
  margin: 0;
}

@media only screen and (min-width: 1000px) {
  /* line 18, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
  .page-id-5576,
  .page-id-5908 {
    background-image: url("./images/paperBody.jpg");
    background-size: 100vw auto;
    background-repeat: repeat;
    background-attachment: fixed;
  }
}

/* line 30, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper,
.page-id-5908 .pattisjokkiMenu__Wrapper {
  overflow-x: hidden;
  min-height: 100vh;
  max-width: 1000px;
  margin: 20px auto 0 auto;
  padding-top: 80px;
  background-image: url("./images/paperWrapper.jpg");
  background-repeat: repeat;
  background-size: 1000px auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  text-align: center;
  /* Divider Images */
}

@media only screen and (max-width: 625px) {
  /* line 30, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
  .page-id-5576 .pattisjokkiMenu__Wrapper,
  .page-id-5908 .pattisjokkiMenu__Wrapper {
    padding-top: 50px;
  }
}

/* line 50, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper *,
.page-id-5908 .pattisjokkiMenu__Wrapper * {
  grid-column: 4 / -4;
}

@media only screen and (max-width: 725px) {
  /* line 50, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
  .page-id-5576 .pattisjokkiMenu__Wrapper *,
  .page-id-5908 .pattisjokkiMenu__Wrapper * {
    grid-column: 2 / -2;
  }
}

/* line 55, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper *.pattisjokkiMenu__Page--Dryck,
.page-id-5908 .pattisjokkiMenu__Wrapper *.pattisjokkiMenu__Page--Dryck {
  grid-column: 2 / -2;
}

/* line 59, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper p,
.page-id-5908 .pattisjokkiMenu__Wrapper p {
  letter-spacing: 1px;
  line-height: 25px;
  font-size: 16px;
}

/* line 64, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper h5,
.page-id-5908 .pattisjokkiMenu__Wrapper h5 {
  letter-spacing: 2px;
  margin: 30px 0 0 0;
}

/* line 68, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper img,
.page-id-5908 .pattisjokkiMenu__Wrapper img {
  max-width: 100%;
}

/* line 72, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__MatFilosofi,
.page-id-5908 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__MatFilosofi {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/* line 76, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__MatFilosofi .pattisjokkiMenu__PageHeading,
.page-id-5908 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__MatFilosofi .pattisjokkiMenu__PageHeading {
  font-size: 55px;
  margin-top: 50px;
}

@media only screen and (max-width: 625px) {
  /* line 76, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
  .page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__MatFilosofi .pattisjokkiMenu__PageHeading,
  .page-id-5908 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__MatFilosofi .pattisjokkiMenu__PageHeading {
    margin-top: 0px;
  }
}

/* line 82, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__MatFilosofi .pattisjokkiMenu__PageHeading.wineIntro,
.page-id-5908 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__MatFilosofi .pattisjokkiMenu__PageHeading.wineIntro {
  margin-top: 100px;
  font-size: 45px;
}

/* line 108, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .divider,
.page-id-5908 .pattisjokkiMenu__Wrapper .divider {
  grid-column: 1 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* line 117, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .divider--full,
.page-id-5908 .pattisjokkiMenu__Wrapper .divider--full {
  width: 85%;
  justify-self: center;
}

@media only screen and (max-width: 725px) {
  /* line 117, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
  .page-id-5576 .pattisjokkiMenu__Wrapper .divider--full,
  .page-id-5908 .pattisjokkiMenu__Wrapper .divider--full {
    width: 94%;
    overflow-x: hidden;
  }
}

/* line 124, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .divider--full.typeIntro,
.page-id-5908 .pattisjokkiMenu__Wrapper .divider--full.typeIntro {
  width: 100%;
}

@media only screen and (max-width: 725px) {
  /* line 124, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
  .page-id-5576 .pattisjokkiMenu__Wrapper .divider--full.typeIntro,
  .page-id-5908 .pattisjokkiMenu__Wrapper .divider--full.typeIntro {
    width: 110%;
    overflow-x: hidden;
  }
}

/* line 132, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .divider--right,
.page-id-5908 .pattisjokkiMenu__Wrapper .divider--right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

/* line 136, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .divider--right img,
.page-id-5908 .pattisjokkiMenu__Wrapper .divider--right img {
  max-width: 55%;
}

@media only screen and (max-width: 625px) {
  /* line 136, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
  .page-id-5576 .pattisjokkiMenu__Wrapper .divider--right img,
  .page-id-5908 .pattisjokkiMenu__Wrapper .divider--right img {
    max-width: 65%;
  }
}

/* line 144, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .divider--left,
.page-id-5908 .pattisjokkiMenu__Wrapper .divider--left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

/* line 148, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .divider--left img,
.page-id-5908 .pattisjokkiMenu__Wrapper .divider--left img {
  max-width: 55%;
}

@media only screen and (max-width: 625px) {
  /* line 148, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
  .page-id-5576 .pattisjokkiMenu__Wrapper .divider--left img,
  .page-id-5908 .pattisjokkiMenu__Wrapper .divider--left img {
    max-width: 65%;
  }
}

/* line 156, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__PageHeading,
.page-id-5908 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__PageHeading {
  font-family: "BebasNeue";
  font-weight: 100;
  font-size: 30px;
  letter-spacing: 5px;
  margin-bottom: -20px;
  z-index: 1;
}

@media only screen and (max-width: 625px) {
  /* line 156, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
  .page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__PageHeading,
  .page-id-5908 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__PageHeading {
    font-size: 32px;
    margin-bottom: -25px;
  }
}

/* line 172, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__PageHeading--matMeny,
.page-id-5908 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__PageHeading--matMeny {
  font-size: 45px;
  margin-top: 100px;
}

/* line 176, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__PageHeading.desserts,
.page-id-5908 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__PageHeading.desserts {
  margin-bottom: -50px;
}

@media only screen and (max-width: 625px) {
  /* line 176, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
  .page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__PageHeading.desserts,
  .page-id-5908 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__PageHeading.desserts {
    margin-bottom: -30px;
  }
}

/* line 183, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .menuItem__heading,
.page-id-5908 .pattisjokkiMenu__Wrapper .menuItem__heading {
  font-family: "BebasNeue";
  font-weight: 100;
  font-size: 22px;
  z-index: 1;
}

/* line 192, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .menuItem__heading--h6,
.page-id-5908 .pattisjokkiMenu__Wrapper .menuItem__heading--h6 {
  font-size: 15px;
  margin-bottom: 0px;
  margin-top: 50px;
}

/* line 200, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .menuItem__info,
.page-id-5908 .pattisjokkiMenu__Wrapper .menuItem__info {
  font-size: 18px;
  padding: 0;
  margin-bottom: 0;
  margin-top: 15px;
}

/* line 208, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .menuItem__price,
.page-id-5908 .pattisjokkiMenu__Wrapper .menuItem__price {
  font-size: 20px;
  margin-top: 20px;
}

/* line 212, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .menuItem__recommendedDrink,
.page-id-5908 .pattisjokkiMenu__Wrapper .menuItem__recommendedDrink {
  font-size: 15px;
  line-height: 20px;
}

/* line 217, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .menuItem__lastOfType,
.page-id-5908 .pattisjokkiMenu__Wrapper .menuItem__lastOfType {
  margin-bottom: 130px;
}

@media only screen and (max-width: 700px) {
  /* line 217, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
  .page-id-5576 .pattisjokkiMenu__Wrapper .menuItem__lastOfType,
  .page-id-5908 .pattisjokkiMenu__Wrapper .menuItem__lastOfType {
    margin-bottom: 80px;
  }
}

/* line 224, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper section,
.page-id-5908 .pattisjokkiMenu__Wrapper section {
  font-family: "AmericanTypewriter";
}

/* line 226, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper section.typeOfDrinkIntro,
.page-id-5908 .pattisjokkiMenu__Wrapper section.typeOfDrinkIntro {
  grid-column: 2 / -2;
  margin-top: 25px;
  margin-bottom: 55px;
}

/* line 232, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper section.typeOfDrinkIntro .typeOfDrinkIntro__heading,
.page-id-5908 .pattisjokkiMenu__Wrapper section.typeOfDrinkIntro .typeOfDrinkIntro__heading {
  font-size: 20px;
}

@media only screen and (max-width: 625px) {
  /* line 235, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
  .page-id-5576 .pattisjokkiMenu__Wrapper section.typeOfDrinkIntro p,
  .page-id-5908 .pattisjokkiMenu__Wrapper section.typeOfDrinkIntro p {
    font-size: 14px;
    line-height: 18px;
  }
}

/* line 242, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper section.pattisjokkiMenu__MatFilosofi--TextSection,
.page-id-5908 .pattisjokkiMenu__Wrapper section.pattisjokkiMenu__MatFilosofi--TextSection {
  grid-column: 2 / -2;
  margin-top: 25px;
}

/* line 250, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer,
.page-id-5908 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 5px;
  margin-left: 50px;
  margin-right: 50px;
}

@media only screen and (max-width: 625px) {
  /* line 250, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
  .page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer,
  .page-id-5908 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer {
    margin-left: 12px;
    margin-right: 12px;
  }
}

/* line 266, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .pattisjokkiMenu__FooterInfo,
.page-id-5908 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .pattisjokkiMenu__FooterInfo {
  grid-column: 1 / -1;
  font-family: "AmericanTypewriter";
  margin-bottom: 12px;
  margin-top: 0px;
}

@media only screen and (max-width: 625px) {
  /* line 275, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
  .page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .pattisjokkiMenu__FooterInfo p span,
  .page-id-5908 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .pattisjokkiMenu__FooterInfo p span {
    display: none;
  }
  /* line 278, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
  .page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .pattisjokkiMenu__FooterInfo p:after,
  .page-id-5908 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .pattisjokkiMenu__FooterInfo p:after {
    content: "Klicka på symbolerna nedan för mer info om vårat klimatsmarta kök";
  }
}

/* line 285, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .pattisjokkiMenu__FooterImages,
.page-id-5908 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .pattisjokkiMenu__FooterImages {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

@media only screen and (max-width: 900px) {
  /* line 285, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
  .page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .pattisjokkiMenu__FooterImages,
  .page-id-5908 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .pattisjokkiMenu__FooterImages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  /* line 301, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
  .page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .pattisjokkiMenu__FooterImages *,
  .page-id-5908 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .pattisjokkiMenu__FooterImages * {
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
    -ms-flex: auto;
  }
}

@media only screen and (max-width: 900px) and (max-width: 900px) {
  /* line 301, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
  .page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .pattisjokkiMenu__FooterImages *,
  .page-id-5908 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .pattisjokkiMenu__FooterImages * {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    margin: 0 auto;
  }
}

/* line 315, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage,
.page-id-5908 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage {
  -webkit-transition: 1s;
  transition: 1s;
  position: relative;
}

/* line 320, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage img,
.page-id-5908 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage img {
  padding-top: 15px;
  max-height: 50px;
}

/* line 324, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage .content,
.page-id-5908 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage .content {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  margin: auto;
  padding: 0;
  z-index: 2;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 333, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage p,
.page-id-5908 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage p {
  opacity: 0;
  visibility: hidden;
  line-height: 1.5em;
  font-family: "AmericanTypewriter";
  font-size: 11px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 15px;
}

@media only screen and (max-width: 767px) {
  /* line 333, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
  .page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage p,
  .page-id-5908 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage p {
    font-size: 8px;
  }
}

/* line 350, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage:hover .content,
.page-id-5908 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage:hover .content {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 20px 50px #555;
  box-shadow: 0px 20px 50px #555;
  border-radius: 5px;
}

/* line 361, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage:hover p,
.page-id-5908 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage:hover p {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 371, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage1,
.page-id-5908 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage1 {
  grid-column: 1 / span 1;
}

/* line 374, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage2,
.page-id-5908 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage2 {
  grid-column: 2 / span 1;
}

/* line 377, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage3,
.page-id-5908 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage3 {
  grid-column: 3 / span 1;
}

/* line 380, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage4,
.page-id-5908 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage4 {
  grid-column: 4 / span 1;
}

/* line 383, /Users/ogrilus/Desktop/Lagring/Fat Brothers/Hemsida/pattisjokki/ripan-allaSidor/assets/sass/style.scss */
.page-id-5576 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage5,
.page-id-5908 .pattisjokkiMenu__Wrapper .pattisjokkiMenu__Footer .footerImage5 {
  grid-column: 5 / span 1;
}

/*# sourceMappingURL=../style.map */